APP_CODE=LinuxDoDistributionAPI
APP_SECRET=LinuxDoDistributionAPI
BACKEND_URL=https://dev-api.example.com
ALLOWED_HOSTS=dev-api.example.com
FRONTEND_URL=https://dev.example.com
CORS_ORIGIN_WHITELIST=https://dev.example.com
DB_NAME=LinuxDoDistributionAPI
DB_USER=LinuxDoDistributionAPI
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
OVINC_API_DOMAIN=https://api.example.com
OVINC_WEB_URL=https://www.example.com
OAUTH2_CLIENT_ID=xxx
OAUTH2_CLIENT_SECRET=xxx
OAUTH2_AUTHORIZE_URL=https://example.com/oauth2/authorize
OAUTH2_TOKEN_URL=https://example.com/oauth2/token
OAUTH2_USERINFO_URL=https://example.com/api/user
